@media(max-width: 670px) {

    .my-name {
        width: 80%;
    }

    .card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 20px;
        width: 85%;
        margin: 0 auto;
    }

    label {
    width: 90%;
    padding: 10px;
    display: block;
    margin: 0 auto;
    position: relative;
    color: #fff;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 2px 0 2px #aaa;
    background: #97b8f2;
    border-radius: 10px;
    cursor: pointer;
    background: #97b8f2;
    }

    .open-artist .box-2{
        scroll-snap-type:x mandatory;
        display: flex;
        gap: 20px;
        overflow-x: auto;
        margin: 0 auto;
        width: 100%;
        height: 300px;
    }

    .open-movies .box-2{
        scroll-snap-type:x mandatory;
        display: flex;
        gap: 20px;
        overflow-x: auto;
        margin: 0 auto;
        width: 80%;
        height: 200px;
    }

    .box-3{
        scroll-snap-type:x mandatory;
        display: flex;
        gap: 20px;
        overflow-x: auto;
        margin: 0 auto;
        width: 90%;
        height: 650px;
    }
}
