@media(max-width: 670px) {

    header {
        font-size: 70px;
        font-weight: bold;
        padding: auto;
        color: #ffffff;
        background-color: rgba(141, 215, 255, 0.4);
    }

    .box {
        position: relative;
        width: 100%;
        height: 100px;
        transform-style: preserve-3d;
        transition: transform 0.4s;
        border: 2px solid black;
        border-radius: 10px;
        cursor: pointer;
    }

    .card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 20px;
        width: 85%;
        margin: 0 auto;
    }

    label {
    width: 90%;
    padding: 10px;
    display: block;
    margin: 0 auto;
    position: relative;
    color: #fff;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 2px 0 2px #aaa;
    background: #97b8f2;
    border-radius: 10px;
    cursor: pointer;
    background: #97b8f2;
    }

    .open-artist .box-2,
    .open-movies .box-2 {
        scroll-snap-type:x mandatory;
        display: flex;
        gap: 20px;
        overflow-x: scroll;
        margin: 0 auto;
        width: 100%;
        height: 200px;
    }

    .box-3{
        scroll-snap-type:x mandatory;
        display: flex;
        gap: 20px;
        overflow-x: scroll;
        margin: 0 auto;
        width: 300px;
        height: 500px;
    }

    .name {
        color: rgb(111, 185, 246);
        font-size: 40px;
    }

    .comment {
        height:auto;
        display: grid;
        place-items: center;
        font-weight:300;
        margin: 50px 0;
        background-color:  rgba(255, 255, 255, 0.4);
        border: 10px solid  rgba(141, 215, 255, 0.4);
    }

}
