/* @media(max-width: 1000px) {
    html, body {
        width: 50%;height: 50%;
    }
} */

@media(max-width: 670px) {
    .card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 20px;
        width: 85%;
        margin: 0 auto;
    }
}
